python-dotenv
weaviate-client
openai
google-generativeai
google-genai
protobuf
pillow
PyPDF2
pdfplumber
python-docx
reportlab
openpyxl
python-pptx
websockets
numpy
pandas
httpx
requests
urllib3
aiohttp
rank-bm25
nltk
spacy
click
tqdm
rich
pydantic
aiohappyeyeballs
aiosignal
alembic
annotated-doc
annotated-types
anyio
async-timeout
attrs
Authlib
bcrypt
beautifulsoup4
blis
boto3
catalogue
certifi
cffi
charset-normalizer
cloudpathlib
confection
cryptography
cymem
dataclasses-json
deprecation
distro
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
filelock
frozenlist
fsspec
ftfy
greenlet
grpcio
h11
hf-xet
httpcore
httpx-sse
huggingface_hub
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mpmath
multidict
murmurhash
mypy_extensions
networkx
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
open_clip_torch
orjson
ormsgpack
packaging
argon2-cffi
passlib
preshed
propcache
psycopg2-binary
pyasn1
pycparser
pydantic-settings
pydantic_core
Pygments
PyJWT
python-dateutil
python-jose
pytz
PyYAML
regex
requests-toolbelt
rsa
safetensors
shellingham
six
smart_open
sniffio
soupsieve
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
tenacity
thinc
tiktoken
timm
tomli
torch
torchvision
triton
typer-slim
typing-inspect
typing-inspection
typing_extensions
tzdata
uuid_utils
uvicorn
validators
wasabi
wcwidth
weasel
weaviate-agents
wrapt
xxhash
yarl
zstandard
pytest
pytest-asyncio
httpx
